@import './brand';


.container {
  max-width: 100%
}

.gradient {
  height: 6px;
  width: 100%;
  background-image: linear-gradient(to right, 
    $purple, 
    $light-blue, 
    $light-green, 
    $light-yellow, 
    $red
  );
}

.wrapper {
  max-width: $xl;
  padding: 60px 60px 16px;
  margin: auto;

  .logo {
    margin: auto;
    padding-bottom: 48px;
  } 
}