@import './brand';

.container { 
  width: 100%
}

.form {
  max-width: 900px;
  display: flex;
}

.input {
  width: calc(100% - 17px);
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  font-size: 27px;

  &:focus {
    outline: none;

    &::placeholder {
      color: $gray;
    }
  }

  &::placeholder {
    color: $black;
  }
}

.button {
  position: relative;
  padding: 0;
  border: none;

  svg {
    width: 20px;
    height: 20px;
  }
}